

/* Colour Palette */
:root {
  --light: #F3F6F4;
  --grey: #878484;
  --darkGrey: #2B2727;
  --textCol: #141212;
  --accent: #6015EB;

}


/* MISC STYLES */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  background-color: var(--light);
}

/* HEADER STYLES */
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light);
  width: auto;
  height: 80px;
  border-bottom: 4px solid var(--darkGrey);
  margin: auto 0;
}

h1 {
  position: relative;
  left: 150px;
  color: var(--textCol);
}


.logo img {
  width: 150px;
  height: 150px;
  z-index: 1;
  position: absolute;
  left: 700px;
  top: 15px;
  border-radius: 75px;
  border: 5px solid var(--darkGrey);
}

li {
  list-style-type: none;
  display: inline;
  position: relative;
  left: 900px;
  padding: 7px 15px;
  margin: 0 20px;
  background-color: var(--grey);
  color: white;
  border: 1px solid var(--grey);
  
}

li:hover{
  background-color: var(--light);
  transition: background-color 0.5s;
  color: #141212;
  transition: color 0.25s;
  border: 1px solid var(--accent);
}

/* HERO BANNER STYLES */
.heroBanner {
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Users/chadd/bootcamp/portfolio-assignment/assets/herobanner1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--darkGrey);
}

.heroTitle {
  margin: 0;
  color: white;
  font-size: 50px;
}

.heroP {
  margin: 0;
  color: white;
  font-size: 20px;
}